/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17 oct. 2018, 16:26:18
    Author     : eh2s001
*/

.loader {
position : fixed;
z-index: 9999;
background : url('../images/loading.gif') 50% 50% no-repeat;
background-color: rgba(54,54,54,0.6);;
top : 0px;
left : 0px;
height : 100%;
width : 100%;
cursor : wait;
}